/* General colour scheme
----------------------------------------------------------------*/

body {
	background: #fff;
	color: #333;
}

a:link,
a:visited {
	color: #00579C;
	text-decoration: none;
}

/*
p.feed a:link,
p.feed a:visited {
	color: #DDDDDD;
}*/

a:hover,
a:active,
a:focus
/*p.feed a:hover,
p.feed a:active,
p.feed a:focus*/ {
	color: #b42000;
	text-decoration: underline;
}

/*
.main-pagepost a:link,
.crumbs a:link,
.main-pagepost a:visited,
.crumbs a:visited {
	text-decoration: none;
}
*/

/*
.main-pagepost a:hover,
.crumbs a:hover,
.main-pagepost a:active,
.crumbs a:active,
.main-pagepost a:focus,
.crumbs a:focus {
	text-decoration: underline;
}
*/

.gen-content,
.main-content {
	background: #fbfbfb;
	border-color: #DFE6ED;
	border-bottom-color: #CBD1D8;
}

.main-pagepost {
	background: #fff;
	border-color: #DDE4EB;
}

.crumbs {
	background: #fff;
	border-color: #fff;
}


.main-item,
.main-item li,
.main-item div,
td {
	border-color: #DDE4EB;
}

.main-content .main-item .item-nav {
	color: #888;
}

.main-content .sticky {
	background: #F2F4FA;
}

.main-content .main-item .hn .item-status em.sticky,
.main-content .main-item .hn .item-status em.closed {
	color: #314B60;
	font-weight: bold;
}

.main-content .main-item .hn .item-status em.moved {
	color: #666;
}

.post div,
h3.post-ident {
	border-color: #DDE4EB;
}

.post {
	border-color: #DDE4EB;
	border-top-color: #fff;
	border-bottom-color: #ccc;
	background: #EDF1F5;
}

#topic-review .firstpost,
.singlepost {
	border-top-color: #DDE4EB;
	border-bottom-color: #DDE4EB;
}

.posthead,
.postbody,
.post-options {
	background: #f9f9f9;
}

.posthead .hn {
	background: #F1F1F1;
}

.posthead .post-title small {
	color: #999;
}

.online .userstatus span {
	border-color: #3F9439;
}

.ct-box,
.ct-set,
.ct-group,
.frm-group {
	border-color: #DBE0E4;
}

.admin-page .ct-box {
	background: #FEFFE6;
}

.admin-page .ct-set .ct-box,
.report {
	background: #F4F9FD;
}

.admin-page .warn-set .warn-box {
	background: #FEFFE6;
}

.main-frm .ct-group,
#brd-announcement {
	background: #F4F9FD;
}

.main-content .info-box {
	background: #FFFFE1;
}

.main-extensions .extension,
.main-hotfixes .hotfix {
	background: #F4F9FD;
}

.main-extensions .disabled,
.main-hotfixes .disabled {
	background: #FFFFE1;
}

.warn-group,
.warn-set,
.warn-box,
.error-box,
#admin-alerts {
	background: #FEFFE6;
	border-color: #F4EBCE;
}

.warn-group,
.warn-set,
.warn-box,
.error-box {
	border-color: #E6D190;
}

.info-list li,
.error-list li {
	color: #6A97BF;
}

.info-list li span,
.error-list li span {
	color: #666;
}

ul li strong {
	color: #333;
}

.user-box {
	background: #F4F9FD;
}

.ct-box .hn,
.ct-box .sig-demo {
	border-color: #DBE0E4;
	color: #1F537B;
}

.error-box .hn {
	color: #333;
}

.help-box {
	background: #f4f4f4;
}

.help-box .hn {
	color: #294F6E
}

.frm-buttons,
.extension .options,
.hotfix .options {
	border-color: #E3E3E3;
}

.checklist {
	background: #fff;
	border-color: #ccc;
}

label,
.aslabel,
.mf-set legend,
.ct-legend,
.ct-legend span,
.ct-legend cite,
.ct-legend strong {
	color: #357;
}

.paging span,
.paging a,
.paging strong {
	border-color: #dedfdf;
}


.required label em,
#req-msg em,
.warn strong,
.important strong {
	color: #b42000;
}

.sf-set .text label small,
.sf-set .select label small {
	color: #999;
}

.entry-content .quotebox,
.entry-content .codebox {
	background: #fff;
	border-color: #ddd;
}

#brd-announcement .userbox {
	background: #F4F9FD none repeat scroll 0 0;
}

.main-content .main-item .hn .posted-mark {
	color: #99C;
}

/* Menus
----------------------------------------------------------------*/

#brd-navlinks {
	background: #113C5E;
	border-color: #113C5E;
	color: #ddd;
}

#brd-navlinks a:link,
#brd-navlinks a:visited {
	color: #ddd;
}

#brd-navlinks a:hover,
#brd-navlinks a:active,
#brd-navlinks a:focus {
	color: #fff;
	text-decoration: underline;
}

.main-options,
.main-options span {
	background: #DDE4EB;
}

.main-menu,
.admin-menu {
	background: #1F537B;
}

.admin-submenu {
	background: #E4E4EC;
	border-color: #DFE6ED;
}

.main-menu a:link,
.main-menu a:visited,
.admin-menu a:link,
.admin-menu a:visited {
	color: #ddd;
	text-decoration: none;
}

.main-menu a:hover,
.main-menu a:active,
.main-menu a:focus,
.admin-menu a:hover,
.admin-menu a:active,
.admin-menu a:focus {
	text-decoration: underline;
	color: #fff;
}

.main-menu .active a:hover,
.main-menu .active a:active,
.main-menu .active a:focus,
.main-menu .active a:visited,
.admin-menu .active a:hover,
.admin-menu .active a:active,
.admin-menu .active a:focus,
.admin-menu .active a:visited {
	text-decoration: none;
}

.admin-submenu .active a {
	text-decoration: none;
}

.main-menu .active a {
	color: #fff;
}

.admin-menu .active a {
	color: #eef;
}

#brd-admod #alert a {
	color: yellow;
}

/* Logo and Headings
----------------------------------------------------------------*/

#brd-head {
	background: #296FA5;
	color: #ddd;
	border-color: #296FA5;
}

#brd-head a,
#brd-head a:link,
#brd-head a:visited {
	color: #fff;
}

.main-head,
.main-foot {
	background: #1F537B;
	color: #ddd;
	border-color: #1f537b;
}

#brd-announcement h1 {
	border-color: #BBBBBB;
}

.main-subhead {
	border-color: #DFE6ED #DFE6ED #CBD1D8 #DFE6ED;
	background: #F4F4F4;
}

.column-title {
	border-color: #F4F4F4 #F4F4F4 #CBD1D8 #F4F4F4;
	background: #F4F4F4;
}

.group-head {
	background: #EDF1F5;
	border-color: #DBE0E4;
}

.content-head .hn {
	border-color: #DBE0E4;
	color: #666;
}

.main-head a:link,
.main-head a:visited,
.main-foot .options a:link,
.main-foot .options a:visited {
	color: #ccc;
}

.main-head a:hover,
.main-head a:active,
.main-head a:focus,
.main-foot .options a:hover,
.main-foot .options a:active,
.main-foot .options a:focus {
	color: #fff;
}

th {
	background: #F4F4F4;
}

.main-frm .ct-group td {
	background: #FBFBFB;
}

#extensions-used {
	border-bottom-color: #999;
}


/* Status indicators
----------------------------------------------------------------*/

.main-content .main-item .icon {
	border-color: #EDF1F5 #DDE0E4 #C6CBD3 #BABFC6;
}

.main-content .redirect .icon {
	border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4;
}

.main-content .sticky .icon {
	border-color: #D7E5F3 #C3CFDC #9FB3C7 #90A2B4;
}

.main-content .closed .icon {
	border-color: #ACACAC #979797 #898989 #7A7A7A;
}

.main-content .sticky.closed .icon {
	border-color: #D7E5F3 #C3CFDC #898989 #7A7A7A;
}

.main-content .new .icon {
	border-color: #2B75AD #235E8C #1F537B #266799;
}


/* Multi Checkbox Widget
-------------------------------------------------------------*/

.checklist .checklist-item label {
	background: #fff;
}

.checklist .checklist-item label:hover {
	background: #EDF1F5;
}


input[type=text],
input[type=password],
input[type=email],
textarea {
	border-color: #DFE6ED;
}

input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
input[type=email]:active,
input[type=email]:focus,
textarea:active,
textarea:focus {
	border-color: #C8D3DC #DFE6ED #DFE6ED #C8D3DC;
	background: #FFFFF3;
	background: -moz-linear-gradient(top, #FFFEE8, #fff) repeat scroll 0 0 #FFFFF3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFEE8), to(#fff));
}


input[type=submit],
input[type=button],
button {
	background: #f6f6f6;
	background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ffffff), to(#EEEEEE));
	color: #404040;
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus,
button:hover,
button:focus {
	background: #f3f3f3;
	background: -moz-linear-gradient(center top , #FFFFFF, #EBEBEB) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ffffff), to(#EBEBEB));
	color: #111;
}
