/*************************************************************
IE6 - FIXES
**************************************************************/

/* Float Clearing and Has Layout Fixes
-------------------------------------------------------------*/

.brd-page,
.brd .main,
#brd-index .main-subhead,
.brd .main-content .main-item,
.brd .main-content .main-item ul,
.brd .gen-content,
.brd .main-content,
.brd .ct-box,
.brd .ct-box *,
.brd .frm-group,
.brd .mf-set,
.brd .sf-set,
.brd .mf-box,
.brd .sf-box,
.brd .mf-item,
.brd .txt-set,
.brd .txt-box,
.brd .frm-form label,
.brd fieldset,
.brd span.fld-input,
.brd .main-subhead .hn,
.brd .post,
.brd .postbody,
.brd .post-entry,
.brd .postfoot .post-options {
	zoom: 1;
	}

/* Forms
-------------------------------------------------------------*/

#brd-wrap fieldset {
	padding-top: 1px;
	position: relative;
	}

.brd fieldset legend {
	margin-left: -7px;
	}

#brd-wrap .checklist {
	height: 9em;
	width: 30em;
	overflow: auto;
	}

.brd .sf-set .checkbox label span {
	padding-right: 0em;
	padding-left: 5em;
	}

#brd-admin-censoring #info-censored-intro, #brd-admin-ranks #info-ranks-intro {
	margin-bottom: 3em;
	}

.main-forum .main-item .item-starter {
	margin-left: 1ex;
	}

#brd-stats .st-users {
	margin-bottom: -1ex;
	}

#brd-admin-settings-setup #fld19, #brd-post #fld1, #brd-post #fld2, #brd-postedit #fld2 {
	margin-top: -19px;
	}

.brd .sf-set .fld-input input{
	position:absolute;
	top: 24px;
	}

.brd #brd-index .main-head {
	position: relative;
	}
