/*************************************************************
A - SETUP
**************************************************************/

/* Start from scratch
-------------------------------------------------------------*/

html,
body, /* remove this line if necessary for site integration */
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
blockquote,
table,
th,
td,
input,
textarea,
button,
select {
	margin:0;
	padding:0;
	text-align: left;
}

fieldset,
img,
cite {
	border: 0;
}

.visual-hidden {
	visibility: hidden;
}

br,
hr,
.hr,
.hidden {
	display: none;
}

table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
}

/* Text Setup (Equalise everything before styling)
-------------------------------------------------------------*/
html {
	height: 99%;
	overflow-y: scroll;
}

body {
	font-size: 100%;
}

.brd-page {
	font: 75%/1.5em Verdana, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	font-weight: normal;
}

samp,
code,
pre,
option,
optgroup,
input,
select,
textarea,
td,
th {
	font-size: 1em;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: normal;
}

/* Float Clearing
-------------------------------------------------------------*/

.brd-page:after,
.gen-content:after,
.ct-box:after,
#brd-index .item-head:after,
#brd-index .main-item:after,
#brd-index ul.item-info:after,
.frm-group:after,
.mf-set:after,
.sf-set:after,
.mf-box:after,
.sf-box:after,
.mf-item:after,
.txt-set:after,
.txt-box:after,
.frm-form label:after,
fieldset:after,
span.fld-input:after,
.posthead:after,
.postbody:after,
.postfoot .post-options:after {
	content: "\0020";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0.0;
	overflow:hidden;
	visibility: hidden;
	clear: both;
}

/* Hidden items
-------------------------------------------------------------*/

#brd-stats .hn,
#qjump label,
.post-byline span,
.posthead .post-link span,
.admin .main-subhead,
.main-item .item-info li span.label,
.main-item .item-info li label,
.main-item .you-posted,
.main-item .item-num,
.group-legend,
.group-legend span,
.sf-set legend,
.sf-set legend span,
.main-pagehead .page-info,
p.item-select label,
.mf-extra .mf-field label,
.mf-extra .mf-field .aslabel,
.item-subject .item-nav span,
.post-options a span,
.main-title,
.main-head .hn small,
.entry-title,
.menu-page .main-head {
	font-size: 0;
	left: -999em;
	text-indent: -999em;
	position:absolute;
	line-height: 0em;
	visibility: hidden;
}


/*************************************************************
B - GLOBAL STYLES
**************************************************************/

/* General Layout
-------------------------------------------------------------*/

.brd {
	padding: 1.3em 2em;
	margin: 0 auto;
	max-width: 1100px;
	min-width: 700px;
	width: 90%;
}

#brd-redirect,
#brd-maint,
#brd-util {
	margin: 50px auto 12px auto;
	width: 60%;
}

/* Confines clearing behaviour within forum wrapper */
.brd-page {
	float: left;
	width: 100%;
	position: relative;
}

.main-content,
.gen-content {
	border-style: solid;
	border-width: 1px;
}

.gen-content {
	padding: 0 1.5em;
}

#brd-index #brd-about,
#brd-index #brd-stats {
	margin-top: 1em;
}

.main-content,
#brd-index #brd-visit,
#brd-qpost,
#brd-index #brd-announcement {
	margin-bottom: 1em;
}

#brd-announcement {
	padding: 0.5em 1.5em;
	margin-top: 1em;
}

#brd-announcement br {
	display: inline;
}

.main-options {
	border-top: none;
	margin: -1em 0 1em 0;
}

/* Content Text (Default spacing for paragraphs and lists)
-------------------------------------------------------------*/

p,
.hn {
	padding: 0.5em 0;
}

ul,
ol {
	padding: 0.5em 0 0.5em 2em;
}


ul.spaced {
	padding: 0.25em 0 0.25em 2em;
}

.spaced li {
	padding: 0.25em 0;
}

/* Headings
-------------------------------------------------------------*/

th {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.main-head,
.main-foot {
	border-style: solid;
	border-width: 1px;
	padding: 0 1.417em;
}

.main-head .hn,
.main-foot .hn {
	font-size: 1.084em;
	padding-right: 10em;
}

h2.main-subhead {
	border-style: solid;
	border-width: 1px;
	font-size: 1.084em;
	padding: 0.462em 10em 0.426em 1.417em;
}

.column-title {
	border-style: solid;
	border-width: 1px;
	position: relative;
	margin-bottom: -1px;
}

.main-subhead {
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
}

.main-subhead .hn {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	position: relative;
}

.main-foot {
	margin-top: -1em;
}

#brd-announcement h1,
.main-extensions .ct-legend,
.main-hotfixes .ct-legend {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	font-size: 1.1em;
	font-weight: bold;
}

#brd-announcement h1 {
	margin-bottom: 0.5em;
}

.main-pagehead .hn {
	padding: 0.5em 0;
}

.content-head {
	margin: 0.5em 1.417em 0;
}

.content-head .hn {
	font-size: 1.084em;
	border-style: none none double none;
	border-width: 3px;
	padding: 0.462em 0;
}


/*************************************************************
C - COMMON CONTENT TYPES (RE-USABLE FORMATS)
**************************************************************/

/* Option lists
-------------------------------------------------------------*/

.options span {
	padding: 0 0 0 0.3em;
	margin: 0 0 0 0.25em;
}

.options span.first-item {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

.extension .options,
.hotfix .options {
	border-top-style: dashed;
	border-top-width: 1px;
}

/* Content Containers
-------------------------------------------------------------*/

.ct-box {
	border-style: solid;
	border-width: 1px;
	margin: 1.417em;
	padding: 0.5em 1em;
	position: relative;
}

.ct-box li {
	padding: 0;
	margin: 0 0 0.7em 0;
}

.ct-set {
	border-style: solid;
	border-width: 1px;
	margin: 1.417em;
	padding: 0 0 0 17em;
	position: relative;
}

.ct-group {
	border-style: solid;
	border-width: 1px;
	margin: 1.417em;
}

.frm-group .ct-set {
	border-style: dashed none none none;
	margin: 0;
}

.ct-group .ct-set {
	border-style: dashed none none none;
	margin: 0 1em;
	padding: 0 0 0 16em;
}

.ct-group .group-item1 {
	border: none;
}

.ct-group .set1,
.frm-group .set1 {
	border-top: none;
}

.ct-group .ct-box,
.frm-group .ct-box {
	border-style: none;
	margin: 0;
}

.ct-group .ct-set .ct-box,
.ct-set .ct-box,
.frm-group .ct-set .ct-box {
	border-style: none;
	margin: 0;
}

.ct-group .set1 {
	border-top: 0;
}

.ct-set .ct-legend {
	float: left;
	margin-left: -17em;
	width: 16em;
	display: inline;
	position: relative;
	text-align: right;
	font-weight: bold;
}

.ct-set ul {
	padding-left: 0;
	list-style: none;
}

.ct-box div {
	padding: 0.5em 0;
}

.ct-box p.options {
	float: none;
}

.ct-box .info-list {
	padding-bottom: 0;
}

 /* User Identity
-------------------------------------------------------------*/

.user-ident {
	padding-left: 0;
	list-style: none;
}

.user-ident .username a,
.user-ident .username strong {
	font-size: 1.167em;
	font-weight: bold;
}

.user-ident .username a,
.user-ident .username a:link,
.user-ident .username a:visited {
	text-decoration: none;
}

.user-ident .username a:hover,
.user-ident .username a:active,
.user-ident .username a:focus {
	text-decoration: underline;
}

.user-ident .usertitle {
	font-weight: bold;
}

.user-ident .useravatar {
	padding: 0.25em 0;
}

.user-ident .useravatar img {
	display: block;
}

 /* Message Boxes
-------------------------------------------------------------*/

.main-message {
	padding: 0.5em 1.417em;
}

.main-message p span {
	display: block;
	padding-top: 0.5em;
}

/* Section Menus (By Default - Profile and Admin)
-------------------------------------------------------------*/

.main-menu,
.admin-menu {
	border: 0;
	padding: 0.4em 0 0.2em 0.75em;
}

.main-menu ul,
.admin-menu ul {
	list-style-type: none;
	float: left;
	padding: 0;
}

.main-menu li,
.admin-menu li {
	font-size: 1.084em;
	float: left;
	display: inline;
}

.main-menu a,
.admin-menu a {
	float: left;
	position: relative;
	padding: 0.2em 0.75em 0.4em 0.75em;
}

.main-menu .active a,
.admin-menu .active a {
	font-weight: bold;
}

.main-menu li.first-item,
.admin-menu li.first-item {
	border-left: 0;
}

.admin-submenu {
	border-style: solid;
	border-width: 0px 1px 0px 1px;
}

.admin-submenu ul {
	padding: 0.5em 0;
	list-style: none;
}

.admin-submenu li {
	display: inline;
	margin-right: 0.75em;
}

/*************************************************************
D - COMMON INTERFACE ELEMENTS
**************************************************************/

/* Logo and Tagline
-------------------------------------------------------------*/

#brd-head {
	padding-bottom: 0.75em;
	padding-top: 1em;
}

#brd-title {
	padding-bottom: 0;
}

#brd-title a,
#brd-title strong {
	font-size: 1.5em;
	text-decoration: none;
	font-weight: normal;
}

#brd-desc {
	font-size: 1.084em;
	padding-top: 0;
	padding-bottom: 0;
}

/* Primary navigation
-------------------------------------------------------------*/

#brd-navlinks ul {
	margin: 0;
	padding: 0.5em 0;
	float: left;
}

#brd-navlinks li {
	display: inline;
	margin-right: 1em;
}

#brd-navlinks li a {
	font-size: 1.167em;
	text-decoration: none;
}

#brd-admod {
	float: right;
	text-align: right;
}

#brd-admod span {
	margin-left: 0.75em;
}

#brd-access {
	text-align: right;
	padding: 0;
	height: 0;
	margin: 0;
	position: absolute;
	background: transparent;
}

#brd-access a,
#brd-access a:link,
#brd-access a:visited {
	height: 2em;
	padding: 0 1.3em;
	line-height: 2em;
	position: absolute;
	left: -999em;
	margin: 1px;
	width: 12em;
}

#brd-access a:hover,
#brd-access a:active,
#brd-access a:focus {
	text-indent: 0;
	background: #000;
	position: static;
	float: right;
}


/* Welcome box
-------------------------------------------------------------*/

#brd-visit #welcome {
	float: left;
}

#brd-visit #visit-links {
	text-align: right;
	float: right;
}

/* Paging and posting
-------------------------------------------------------------*/

#brd-pagepost-end {
	border-top: none;
}

#brd-pagepost-top {
	border-bottom: none;
}

#brd-admin-bans #brd-pagepost-end {
	margin-top: -1em;
}

.paging {
	float: left;
}

.posting {
	text-align: right;
	float: right;
}

.paging {
	white-space:nowrap;
}

.paging a,
.paging strong,
.paging span {
	padding: 0 1em;
	border-left-style: solid;
	border-left-width: 1px;
	float: left;
	white-space:nowrap;
}

.paging .first-item,
.paging span.pages {
	border-left: 0;
	padding-left: 0;
}

.posting .newpost {
	font-size: 1.084em;
	font-weight: bold;
}

/* Breadcrumbs
-------------------------------------------------------------*/

.crumbs .crumblast {
	/*font-weight: bold;*/
}

.crumbs .crumblast  span {
	font-weight: normal;
}

.crumbs span,
.crumbs a {
	white-space: nowrap;
}

.crumbs {
	margin: 0.5em 0em;
	padding: 0em 1.417em;
	font-size: 1.084em;
}

#brd-crumbs-top .crumblast {
	font-size: 1.15em;
}


/* Statistics
-------------------------------------------------------------*/

#brd-stats {
	border-bottom: 0;
}

#brd-stats ul {
	list-style: none;
	padding-left: 0;
}

#brd-stats ul li.st-users {
	float: left;
	clear: both;
	white-space: nowrap;
}

#brd-stats ul li.st-activity {
	text-align: right;
	display: block;
	white-space: nowrap;
}

#brd-stats li strong {
	font-weight: bold;
}

#brd-online {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#brd-online .hn,
#brd-online p {
	padding-bottom: 0;
	padding-top: 0;
}

 #brd-online .hn {
	float: left;
	margin-right: 0.5em;
}

/* Footer
-------------------------------------------------------------*/

#brd-about #qjump {
	float: left;
	padding: 0.5em 0;
}

#brd-about #qjump div,
#qjump label {
	padding: 0;
	border: none;
}

#brd-about #copyright {
	text-align: right;
	margin: 0;
}

#querytime {
	text-align: right;
	font-size: 0.9em;
}

#extensions-used {
	border-bottom: 1px dotted;
}

/* Main and Content Options
-------------------------------------------------------------*/

p.options {
	border-top: none;
	float: right;
}

.main-modoptions .options {
	text-align: center;
}

a.feed {
	padding-left: 22px;
	background: url(feed-icon.png) center left no-repeat;
}

.content-options,
.ct-options {
	float: right;
	margin-top: -2.6em;
	padding: 0.5em 1.417em;
	position: relative;
}

#select-all {
	float: right;
	padding-left: 1em;
}

/*************************************************************
E - INDEX, FORUMS, SEARCH RESULTS, MODERATE FORUMS
**************************************************************/

/* Header setup generally
-------------------------------------------------------------*/

.item-summary {
	height: 2.5em;
	padding: 0;
	position: relative;
	font-size: 1em;
}

.item-summary span {
	width: 100%;
	position: absolute;
	left: -999em;
	text-indent: -999em;
	display: block;
}

.item-summary strong {
	position: absolute;
	left: 999em;
	text-indent: 0;
	padding: 0.5em 0;
	white-space: nowrap;
	font-weight: normal;
}

.item-summary strong:first-letter {
	text-transform: uppercase;
}

.item-summary .subject-title {
	padding-left: 1.417em;
}

.item-summary .info-topics,
.item-summary .info-replies {
	margin-left: 100%;
	text-align: center;
	width: 7em;
	left: 965em;
}

.item-summary .info-forum {
	margin-left: 100%;
	text-align: center;
	width: 20em;
	left: 952em;
}

.item-summary .info-posts,
.item-summary .info-views {
	margin-left: 100%;
	text-align: center;
	width: 7em;
	left: 972em;
}

.item-summary .info-lastpost {
	margin-left: 100%;
	left: 980em;
}

p.forum-noview .info-replies {
	left: 972em;
}

/* Content setup generally
-------------------------------------------------------------*/

.main-content .main-item {
	border-top-style: solid;
	border-top-width: 1px;
	overflow: hidden;
	position: relative;
	line-height: 1.4em;
}

.main-content .main-first-item {
	border-top: none;
}

.main-content .main-item ul {
	float: right;
	position: relative;
	padding: 0;
	list-style: none;
}

.main-content .main-item p,
.main-content .main-item .hn {
	padding: 0;
}

.hn .item-status {
	font-weight: normal;
}

.hn .item-status em {
	font-style: normal;
}

.main-item .item-subject,
.main-content .main-item li {
	float: left;
	border-left-style: solid;
	border-left-width: 1px;
	margin: 0 -2px -9.7em 0;
	position: relative;
	padding-top: 0.6em;
	padding-bottom: 10.4em;
}

.main-item .item-subject {
	overflow: hidden;
	width: 100%;
}

li.info-topics,
li.info-posts,
li.info-views,
li.info-replies {
	width: 7em;
	text-align: center;
}

li.info-forum {
	width: 20em;
	text-align: center;
}

li.info-lastpost {
	width: 20em;
}

li.info-lastpost cite {
	overflow: hidden;
	width: 18em;
}

.main-item li strong {
	font-weight: normal;
}


/* Setup for Index and Forums
-------------------------------------------------------------*/

.main-content .main-item {
	padding-right: 35em;
	padding-left: 3.75em;
}

.main-content .main-item .hn {
	position: relative;
}

.main-content .main-item ul {
	width: 34em;
	right: -35em;
	margin-left: -34em;
}

.forum-noview .main-item {
	padding-right: 28em;
}

.forum-noview .main-item ul {
	width: 27em;
	right: -28em;
	margin-left: -27em;
}

.forum-forums .main-item {
	padding-right: 48em;
}

.forum-forums .main-item ul {
	width: 47em;
	right: -48em;
	margin-left: -47em;
}

.item-subject span.modlist {
	display: block;
}

.main-item .hn strong {
	font-size: 1em;
}

.main-item .hn strong span {
	font-weight: normal;
}

#brd-index .main-item .hn span {
	font-size: 1.084em;
	font-weight: bold;
}

#brd-index .main-item .hn small {
	font-size: 1em;
}

.item-status {
	font-weight: bold;
}

.main-content .main-item cite {
	font-style: normal;
}

.item-nav,
.item-nav a,
.item-nav span  {
	white-space: nowrap;
	font-style: normal;
}

.main-content .main-item .item-subject .hn,
.main-content .main-item .item-subject p {
	margin: 0 0 0 1.5em;
}

li.info-lastpost cite,
li.info-lastpost span,
li.info-forum a {
	display: block;
	padding: 0 1em;
	font-style: normal;
	font-weight: normal;
}

li.info-lastpost strong {
	padding: 0 0 0 1em;
	font-style: normal;
	font-weight: normal;
}

li.info-select {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.3em;
	border-style: none none solid solid;
	border-width: 1px;
}

.main-content .main-item .icon {
	border-style: solid;
	border-width: 0.5833em;
	height: 0;
	width: 0;
	float: left;
	margin-top: 0.667em;
	margin-left: -2.417em;
}

.main-content .main-item .hn .posted-mark {
	position: absolute;
	font-size: 2em;
	width: 1em;
	left: -0.5em;
	top: 0;
}

/*************************************************************
F - MAIN CONTENT - FORMS
**************************************************************/

/* Generally
-------------------------------------------------------------*/

.frm-group {
	border-top-style: dashed;
	border-top-width: 1px;
	margin: 1.417em;
	padding: 1.3em 0pt 0em;
}

.group1 {
	border-top: none;
	padding-top: 0;
}

.sf-box,
.mf-box,
.txt-box {
	margin: 1.417em;
	padding: 0.5em 0;		/* CHECK 0.3 - 0.5 */
	position: relative;
}

.sf-set,
.mf-set,
.txt-set {
	margin: 1.417em;
	padding: 0 0 0 17em;
	position: relative;
}

.sf-set .sf-box,
.mf-set .mf-box,
.txt-set .txt-box {
	margin: 0;
}

.frm-group .sf-set,
.frm-group .mf-set,
.frm-group .txt-set {
	margin: 0;
}

.text input,
.select select {
	font-size: 1.084em;
}

optgroup {
	font-weight: bold;
}

.frm-buttons {
	margin: 0.75em 1.417em .8em 1.417em;
	position: relative;
	border-top-style: solid;
	border-top-width: 1px;
	padding: 1.1em 0pt 0.3em 18em;
}

.frm-buttons span.submit {
	margin-right: 0.75em;
}

span.submit input,
span.cancel input {
	overflow: visible;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1.084em;
}

.button-set span.submit {
	padding-left: 1em;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto;
	overflow: visible;
}

label,
input[type="button"],
input[type="submit"],
button,
select {
	cursor: pointer;
}

input[type="submit"],
input[type="button"],
button {
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	text-decoration: none;
	padding: .32em .5em;
	border-radius: .25em;
	border: 1px solid #CCCCCC;
	text-shadow: 0px 1px 1px #ddd;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus {
	border: 1px solid #84BCE4;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, .1);
	box-shadow: 0 1px 2px rgba(0,0,0, .1);
}

input[type="submit"]:active,
input[type="button"]:active
button:active {
	position: relative;
	top: 1px;
}


/* Single Field Items (Text, Select, Checkbox)
-------------------------------------------------------------*/

.sf-box label,
.sf-box .aslabel {
	float: left;
	padding: 0;
}

.sf-set .checkbox label {
	padding: 1px 0 2px 2.7em;
}

.sf-set .text label span,
.sf-set .select label span,
.sf-set .aslabel span {
	float: left;
	margin-left: -17em;
	display: block;
	position: relative;
	padding: 2px 0 2px 1em;
	width: 16em;
	text-align:right;
}

.sf-set .checkbox label span {
	float: left;
	margin-left: -18em;
	display: block;
	position: relative;
	padding: 0 0 0 2em;
	width: 16em;
	left: -3em;
	text-align:right;
	font-weight:bold;
}

.sf-set .text label small,
.sf-set .select label small {
	display: block;
	text-align: left;
	position: relative;
	margin: 2.1em 1em 0 1em;
	font-size: 0.917em;
}

.sf-set .fld-input {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0.3em 1em;
}


.sf-set .checkbox input {
	margin: 4px 0 2px -0.2em;
}

 /* Fixes alignment issue in Safari */
.sf-set .text input:not([title]) {
	height: 100%;
}

.sf-set .sf-short input {
	width: 4em;
}

.sf-set .sf-short label small {
	font-size: 1em;
	padding: 2px 0;
	margin: 0 1em 0 6.5em;
}

/* vertical alignment of radio buttons
 */
input[type="radio"] {
	vertical-align: text-bottom;
}



/* Multi-Field Items (Radio/Checkbox Groups)
-------------------------------------------------------------*/

.mf-box .mf-item {
	position: relative;
	top: -0.166em;
	padding: 0.25em 0;
}

.mf-set legend {
	position: absolute;
	height: 0;
	background: transparent;
}

.mf-set legend span {
	position: absolute;
	left: -17em;
	width: 16em;
	padding: 0.5em 1em;
	margin: 1px 0 2px 0;
	overflow: hidden;
	display: block;
	text-align: right;
	font-weight: bold;
}

.mf-set legend span em {
	display: block;
	white-space: normal;
	font-style: normal;
	font-weight:normal;
	font-size: 0.917em;
}

.mf-item .fld-input {
	position: absolute;
	top: 0.25em;
	left: 0;
	display: block;
	padding: 0 1em;
}

.mf-item input {
	margin: 0 0 0 -0.25em;
	/*height: 1.55em;
	width: 1.55em;*/
}

.mf-item label {
	padding: 0 0 0 2.7em;
	float: left;
}

.mf-set .mf-yesno .mf-item {
	width: 11em;
	float: left;
}

.mf-set .mf-field {
	float: left;
	padding: 0 1em 0 1em;
	border-left: 1px solid #ccc;
}

.mf-set .mf-field1 {
	border-left: none;
}

.mf-set .mf-field label,
.mf-set .mf-field .aslabel {
	position: absolute;
	top: -2em;
	display: block;
}

.mf-set .mf-cell .fld-input {
	position: static;
	padding: 0 0 0 1em;
	border-left: 1px solid #ccc;
}

.frm-hdgroup {
	padding-top: 2em;
}

.sf-set .sf-box .sf-forum {
	width: 25em;
}

.mf-set .mf-box .forum-field {
	width: 25em;
}

/* Multi Checkbox Widget
-------------------------------------------------------------*/

.checklist {
	min-height: 6em;
	max-height: 9em;
	max-width: 30em;
	overflow: auto;
	border-style: solid;
	border-width: 1px;
	position: relative;
	padding: 0.25em 0.5em;
	margin: 0 1em;
}

.checklist fieldset {
	height: auto;
}

.checklist legend,
.checklist legend span {
	font-weight: bold;
	position: static;
	padding: 0;
	height: auto;
	text-align:left;
}

.checklist legend span {
	width: auto;
	max-width: 25em;
}


.checklist .checklist-item {
	position: relative;
	height: auto;
}

.checklist .checklist-item label {
	display: block;
	padding: 0 0 0 2.25em;
	float: none;
	height: 100%;
}

.checklist .checklist-item .fld-input {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}

.checklist .checklist-item input {
	margin: 0;
	/*height: 1.55em;
	width: 1.55em;*/
}


/* Single Field Textareas and Long Inputs (Flexi Width)
-------------------------------------------------------------*/

.txt-box label {
	float: left;
}

.txt-set label span {
	float: left;
	margin-left: -17em;
	display: block;
	position: relative;
	padding: 2px 1em;
	width: 16em;
	text-align:right;
	font-weight:bold;
}

.txt-set label small {
	display: block;
	text-align: left;
	position: relative;
	margin: 0 1em 0 -1px;
	padding: 2px 1.25em;
	font-size: 0.917em;
	z-index: 100;
}

.txt-set .txt-input {
	position: relative;
	width: 100%;
}

.txt-set .fld-input {
	display: block;
	padding: 0 0 0 1em;
}

.txt-set textarea {
	width: 95%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="number"],
textarea {
	border-width: 1px;
	border-style: solid;
	padding: .25em;
}

#quick-search {
	padding: .1em .2em;
}

/* Error handling
-------------------------------------------------------------*/

.req-warn {
	display: none;
}

#req-msg p em,
.required label span em {
	font-style: normal;
	font-weight: normal;
}

.required label span em {
	float: left;
	font-size: 0.917em;
	line-height: 1.2em;
	width: 100%;
	position: relative;
}

.txt-set .required label span em {
	margin-bottom: -1.2em;
}

.req-error {
	display: block;
}

.required label span  {
	font-weight: bold;
}

/*************************************************************
G - MAIN CONTENT - TOPICS AND PARSED CONTENT
**************************************************************/

/* Structure
-------------------------------------------------------------*/

.post {
	border-style: solid;
	border-width: 1px;
	position: relative;
	margin: 1.417em;
	margin-top: -1.417em;
}

.firstpost,
.singlepost {
	margin-top: 1.417em;
}

.main-topic .lastpost {
	border-bottom: 0;
}

.main-topic .post {
	border-style: solid none;
	margin: 0;
}

.main-topic .firstpost {
	border-top: none;
}

.posthead {
	margin-left: 18em;
	border-style: none none none solid;
	border-width: 1px;
}

.posthead .hn {
	padding-right: 1.5em;
	padding-left: 1em;
	border-style: none none dashed none;
	border-width: 1px;
}

.post .posthead .post-byline a,
.post .posthead .post-byline strong {
	font-size: 1.167em;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

.post .posthead .post-byline {
	float: left;
	width: 15.5em;
	padding: 0.5em 1em 0.5em 1.5em;
	margin-left: -19em;
	margin-top: -0.5em;
	position: relative;
	left: -1px;
	overflow: hidden;
}

.posthead .post-num {
	float:right;
	font-weight: bold;
}

#brd-modtopic .posthead .hn {
	padding-right: 2.7em;
}

.post-title {
	padding: 0 1.5em 0.5em 1em;
	margin-top: -1px;
	position: relative;
}

.post-title span {
	display: block;
	width: 100%;
	overflow: hidden
}

.post-title a {
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
}

.post-title small,
.post-title small a {
	font-size: 1em;
	font-weight: normal;
	white-space: nowrap;
}

.posthead p.item-select {
	position: absolute;
	top: 0;
	right: 0.75em;
	height: 2.5em;
}

.postbody {
	margin-left: 18em;
	position: relative;
	border-left-style: solid;
	border-left-width: 1px;
	padding: 0.5em 1.5em 0 1em;
	clear: both;
}

.postfoot {
	padding-left: 18em;
	border-top-style: none;
	border-top-width: 1px;
	position: relative;
}

.postfoot .post-options {
	border-left-style: solid;
	border-left-width: 1px;
}

.postbody .post-author {
	float: left;
	width: 15.5em;
	margin-left: -19em;
	left: -1px;
	position: relative;
	display: inline;
	padding: 0 1em 0.5em 1.5em;
	overflow: hidden;
	margin-top: -1em;
}

.postbody .post-author ul {
	margin: 0;
	padding: 0 0 0.5em 0;
	list-style: none;
}

.author-ident .useravatar img {
	display: block;
	padding: 0.5em 0;
}

.author-ident .username {
	display: none;
}

.author-ident .usertitle {
	font-weight: bold;
	line-height: normal;
}

.author-ident .userstatus {
	padding: 0.75em 0 0.25em 0;
	margin: 0;
	line-height: 0.75em;
	width: 100%;
}

.author-ident .userstatus span {
	font-size: 0.917em;
	display: block;
	border-left-style: solid;
	border-left-width: 0.7em;
	text-indent: 0.5em;
}

.author-info li span strong {
	font-weight: normal;
}

.online .author-ident .userstatus span {
	font-weight: bold;
}

.postfoot .post-contacts {
	float: left;
	margin-left: -18em;
	width: 15.5em;
	padding: 0.5em 1em 0.5em 1.5em;
	position: relative;
	display: inline;
	left: -1px;
}

.postfoot .post-actions {
	padding: 0.5em 1.5em 0.5em 1em;
	text-align: right;
	display: block;
	float: right;
}

.postfoot .post-actions span {
	margin-left: 0.75em;
}

.postfoot .post-contacts span {
	margin-right: 0.75em;
}

/* Content
-------------------------------------------------------------*/

.entry-content {
	padding-bottom: 1em;
	overflow: hidden;
	width: 100%;
	font-size: 1.084em;
}

.entry-content ol {
	padding-left: 2.5em;
	list-style-type: decimal;
}

.entry-content ol p,
.entry-content ul p {
	padding: 0;
}

.entry-content ol.alpha {
	list-style-type: upper-alpha;
}

.entry-content h5,
.entry-content h5 * {
	font-weight: bold;
	font-size: 1.084em;
	padding: 0.5em 0;
}

.entry-content img {
	vertical-align: text-top;
}

.entry-content .quotebox,
.entry-content .codebox {
	border-style: solid;
	border-width: 1px;
	margin: 0.75em 1em;
	padding: 1em 0.75em;
}

.entry-content .codebox code,
#brd-debug table .tcl,
#brd-debug table .tcr {
	font-family: monospace;
}

.entry-content blockquote {
	overflow: hidden;
	width: 100%;
}

.entry-content .quotebox cite {
	display: block;
	font-style: normal;
	font-weight: bold;
}

.entry-content pre {
	margin: 0;
	max-height: 35em;
	min-height: 2em;
	overflow: auto;
	padding: 0 2% 0.1em 0;
	width: 98%;
}

.entry-content img {
	max-width: 100%;
}

.entry-content span.bbu {
	text-decoration: underline;
}

.entry-content br,
.sig-demo br,
.user-box br,
.main-message br {
	display: inline;
}

.sig-content {
	padding-top: 1em;
}

span.sig-line {
	display: block;
	width: 200px;
	border-top-style: solid;
	border-top-width: 1px;
	padding-bottom: 0.5em;
}


/*************************************************************
H - MAIN TABLES
**************************************************************/

/* Table Cells Widths and Alignment
-------------------------------------------------------------*/

table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 0;
	line-height: 1.3333em;
}

td {
	overflow: hidden;
	vertical-align: middle;
}

table caption {
	display: none;
}

#brd-userlist table .tc0 {
	width: 30%
}

#brd-userlist table .tc1 {
	width: 20%;
	text-align: left;
}

#brd-userlist table .tc2 {
	width: 10%;
	text-align: center;
}

#brd-debug  table .tc1 {
	white-space: normal;
	width: 10%;
}

#brd-debug table .tcr {
	white-space: normal;
	width: 90%;
}


/* Table Cell Styling
-------------------------------------------------------------*/

.main-content th {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	font-weight: normal;
}

td {
	padding: 0.5em 1.417em;
	border-width: 1px;
	border-style: solid none none solid;
}

td.tc0 {
	border-left-style: none;
	border-left-width: 0
}

th {
	padding: 0.5em 1.3em;
	border-style: none;
}

td.actions,
th.actions {
	text-align: right;
}

td.actions span {
	display: block;
}


/*************************************************************
H - MAIN CONTENT - ODDMENTS
**************************************************************/

/* Reports
-------------------------------------------------------------*/

.report {
	margin-left: 4em;
}

.report h3 span {
	display: block;
	font-style: normal;
}

.report h3 cite {
	font-style: normal;
	font-size: 1.084em;
	font-weight: bold;
}

.report h3 strong {
	position: absolute;
	left: -3.1em;
	width: 1.5em;
	text-align: right;
	font-size: 1.167em;
}

.report p strong {
	display: block;
	font-weight: normal;
}

.report h4 {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

#brd-admin-reports .frm-buttons {
	margin-left: 4em;
	margin-top: 0;
}

.report .item-select {
	position: absolute;
	top: 0;
	right: 0.75em;
	height: 2.5em;
}

/* Help File
-------------------------------------------------------------*/

.help-box samp {
	display: block;
	margin-left: 1.5em;
}

.help-box h5 samp {
	margin-left: 1.417em;
}

.help-box code {
	font-family: courier;
	font-size: 1.084em;
}

.help-box .entry-content {
	padding: 0;
}

.help-box .hn {
	padding-bottom: 0.5em;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: 0.5em;
	color: #294F6E
}
